.create-order {
    margin: 20px;
}

.create-order form {
    display: flex;
    flex-direction: column;
}

.create-order label {
    margin-bottom: 10px;
}

.create-order button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.create-order button:hover {
    background-color: #0056b3;
}

.create-order .remove-product-button {
    background-color: #f44336;
    margin-left: 10px;
}

.create-order .remove-product-button:hover {
    background-color: #d32f2f;
}

.create-order .add-product-button {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
}

.create-order .add-product-button:hover {
    background-color: #45a049;
}
